<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar Oferta</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
  <h2 class="mb-4">Editar Oferta</h2>
  <form [formGroup]="OfertaForm" (ngSubmit)="onSubmit()">
    <!-- Campo oculto para almacenar el ID de la Oferta -->
    <input type="hidden" formControlName="idOferta">
    
    <div class="form-group">
        <label for="descripcionOferta">Descripción</label>
        <input type="text" id="descripcionOferta" class="form-control" formControlName="descripcionOferta">
      </div>
      
      <div class="form-group">
        <label for="fechaInicioOferta">Fecha de Inicio</label>
        <input type="date" id="fechaInicioOferta" class="form-control" formControlName="fechaInicioOferta">
      </div>
      
      <div class="form-group">
        <label for="fechaFinalOferta">Fecha Final</label>
        <input type="date" id="fechaFinalOferta" class="form-control" formControlName="fechaFinalOferta">
      </div>
      
      <div class="form-group">
        <label for="precioOferta">Precio</label>
        <input type="number" id="precioOferta" class="form-control" formControlName="precioOferta">
      </div>
      

    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
</div>

<!-- Scripts al final del cuerpo del documento -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
