<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hotel Turri Adventure</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

  <!-- Agrega aquí tus enlaces a hojas de estilo (CSS) específicos para este archivo HTML -->
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-4">
        <app-sidebar-administrador></app-sidebar-administrador>
      </div>

      <!-- Contenido principal -->
      <div class="col-lg-9 col-md-8">
        <div id="habitaciones-container" class="container">
            <h2>Administrar Habitaciones</h2>
            <div class="table-responsive" *ngFor="let tipoHabitacion of tiposHabitaciones">
              <div class="table-informacion" style="display: flex; align-items: center;">
                <h5 style="margin: 0; padding: 0; margin-right: 20px;">{{ tipoHabitacion.nombreTipoHabitacion }}</h5>
                <a href="">cambiar descripcion</a>
              </div>
              <table class="table table-striped">
                  <thead>
                      <tr>
                          <th class="table-dark">Número de Habitación</th>
                          <th class="table-dark">Estado</th>
                      </tr>
                  </thead>
                  <tbody id="table-body">
                    <tr class="table-light" *ngFor="let habitacion of habitaciones">
                      <ng-container *ngIf="habitacion.idTipoHabitacion === tipoHabitacion.idTipoHabitacion">
                        <td>{{ habitacion.numeroHabitacion }}</td>
                        <td>{{ estadoHabitacion[habitacion.estadoHabitacion] }}</td>
                      </ng-container>
                    </tr>
                  </tbody>
              </table>
              <div id="pagination" class="d-flex justify-content-center mt-3"></div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Scripts al final del cuerpo del documento -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
  <!-- Agrega aquí tus scripts específicos para este archivo HTML -->
</body>
</html>