<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crear Temporada</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container mt-5">
    <h2 class="mb-4">Crear Temporada</h2>
    <form [formGroup]="formularioEstado" (ngSubmit)="registrarTemporada()">
        <div class="form-group">
          <label for="descripcionTemporada">Descripción de la temporada</label>
          <input type="text" class="form-control" id="descripcionTemporada" formControlName="descripcionTemporada" placeholder="Descripción de la temporada">
        </div>
        <div class="form-group">
            <label for="fechaInicioTemporada">Fecha de inicio de la temporada</label>
            <input type="date" class="form-control" id="fechaInicioTemporada" formControlName="fechaInicioTemporada" value="YYYY-MM-DD">
          </div>
          <div class="form-group">
            <label for="fechaFinalTemporada">Fecha de finalización de la temporada</label>
            <input type="date" class="form-control" id="fechaFinalTemporada" formControlName="fechaFinalTemporada" value="YYYY-MM-DD">
          </div>
        <div class="form-group">
          <label for="precioTemporada">Precio de la temporada</label>
          <input type="number" class="form-control" id="precioTemporada" formControlName="precioTemporada" placeholder="Precio de la temporada">
        </div>
        <button type="submit" class="btn btn-primary">Crear Temporada</button>
      </form>
  </div>

  <!-- Bootstrap JS (jQuery and Popper.js required) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
