<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hotel Turri Adventure</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

  <!-- Agrega aquí tus enlaces a hojas de estilo (CSS) específicos para este archivo HTML -->
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-4">
        <app-sidebar-administrador></app-sidebar-administrador>
      </div>

      <!-- Contenido principal -->
      <div class="col-lg-9 col-md-8">
        <h2>Administrar Habitación</h2>

        <!-- Alerta de éxito -->
        <div *ngIf="successMessage" class="alert alert-success alert-dismissible fade show" role="alert">
          {{ successMessage }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <!-- Alerta de error -->
        <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
          {{ errorMessage }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="ml-1 mt-5 d-flex align-items-center">
          <h5 class="my-0 mr-5 custom-h5 text-primary">{{ tipoHabitacionSeleccionada?.nombreTipoHabitacion }}</h5>
          <p class="mb-0 ml-5">Tarifa Diaria: $</p>
          <input type="text" class="form-control mr-1 col-2" value="{{ tipoHabitacionSeleccionada?.precio }}">
        </div>

        <!-- TextArea -->
        <div class="ml-1 mt-4">
          <h4>Descripción</h4>
          <textarea class="form-control scrollable-textarea"
            rows="5">{{ tipoHabitacionSeleccionada?.descripcionTipoHabitacion }}</textarea>
        </div>

        <!-- Imagen con título y campo de búsqueda -->
        <div class="ml-1 row mt-4">
          <div class="mr-5">
            <h4>Imagen Actual</h4>
            <div class="drop-box" (click)="fileInput.click()" (dragover)="onDragOver($event)"
              (dragleave)="onDragLeave($event)" (drop)="onDrop($event)">
              <img *ngIf="imageSrc" [src]="imageSrc" class="img-fluid img-thumbnail w-100 h-auto" alt="Imagen">
              <p *ngIf="!imageSrc">Arrastra y suelta una imagen aquí, o haz clic para seleccionar una imagen.</p>
            </div>
            <input type="file" #fileInput class="d-none" (change)="onFileSelected($event)">
          </div>
        </div>

        <!-- Botones Aceptar y Cancelar -->
        <div class="row mt-4">
          <div class="col-md-6 offset-md-6">
            <button class="btn btn-danger float-right" (click)="volverAdministrarHabitaciones()">Cancelar</button>
            <button class="btn btn-success float-right mr-2" (click)="aceptar()">Aceptar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Scripts al final del cuerpo del documento -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- Agrega aquí tus scripts específicos para este archivo HTML -->
</body>

</html>
