.main-content {
  padding: 10px; /* Añade un espacio alrededor del contenido */
}

.advertisement-container {
  position: absolute;
  top: 350px; /* Altura del encabezado */
  /* Otros estilos según sea necesario */
}