/* Estilos para el header */
.logo {
  max-width: 100px;
}

/* Estilos para la publicidad y texto */
.publicidad img,
.texto p {
  max-width: 100%;
}

/* Estilos para ajustar el contenido principal al lado del menú */
main {
  min-height: 94vh;
}

