<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hotel Turri Adventure</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
  
  <div class="container-fluid">
    <div class="row">
      
      <div class="col-lg-3 col-md-4">
        <app-sidebar></app-sidebar>
      </div>

<div class="container">
  <h1>Reservar en Línea</h1>
  <div class="informacion-reserva">
    <p>Reservacion realizada!</p>
    <p>Gracias {{ datosReserva.nombre }} {{ datosReserva.apellidos }}! Su reservacion fue realizada exitosamente.    </p>
    <p>Numero de reservacion: WERJFDSF123124AS    </p>
    <p>Acabamos de enviar esta informacion a la direccion {{ datosReserva.email }} para mayor facilidad.    </p>
    <p>Gracias por preferirnos!</p>
  </div>
</div>


</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Agrega aquí tus scripts específicos para este archivo HTML -->
</body>
</html>
