.advertisements {
  display: contents;
  flex-wrap: wrap;
  justify-content: space-around;
  

}

.advertisement {
  width: 200px;
  margin-bottom: 10px;
  cursor: pointer;
  position: absolute;
}

.advertisement img {
  width: 90%;
  height: auto;
}
