<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hotel Turri Adventure</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <!-- Agrega aquí tus enlaces a hojas de estilo (CSS) específicos para este archivo HTML -->
</head>

<body>

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-4">
        <app-sidebar></app-sidebar>
      </div>

      <div class="col-lg-9 col-md-8">
        <div class="about-container">

          <div class="description">
            <h2>Sobre Nosotros</h2>
            <p>
              {{ description }}
            </p>
            <div>
              <h2>Galería</h2>
            </div>
          </div>
          <div class="about-container">      

          <!-- Mensaje de error -->
          <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
            {{ errorMessage }}
          </div>

          <!-- Contenido normal -->
          <div *ngIf="!errorMessage">
            <div class="description">
              <h2>Sobre Nosotros</h2>
              <p>{{ description }}</p>
              <div>
                <h2>Galería</h2>
              </div>
            </div>


            <div class="selected-image" *ngIf="selectedImage">
              <img [src]="selectedImage" alt="Imagen seleccionada" class="img-fluid">
            </div>

            <!-- <div class="gallery">
              <div class="image" *ngFor="let image of images" (click)="showImage(image)">
                <img [src]="image" alt="Imagen de la galería" class="img-thumbnail">
              </div>
            </div> -->

            <div class="gallery">
              
              <div class="image" *ngFor="let image of imagenesPaginadas()" (click)="showImage(image)">
                  <img [src]="image" alt="Imagen de la galería" >
              </div>
          </div>

          
          </div>
          <div class="pagination" >
            <button *ngFor="let page of totalPages()" (click)="cambiarPagina(page)">{{ page }}</button>
        </div>
        </div>



        </div>

      </div>
     
    </div>
  </div>

  <!-- Scripts al final del cuerpo del documento -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- Agrega aquí tus scripts específicos para este archivo HTML -->
</body>

</html>
