<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hotel Turri Adventure</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <!-- Agrega aquí tus enlaces a hojas de estilo (CSS) específicos para este archivo HTML -->
</head>

<body>

  <div class="container-fluid">
    <div class="row">


      <div class="col-lg-3 col-md-4">
        <app-sidebar></app-sidebar>
      </div>

      <!-- Contenido principal -->
      <div class="col-lg-9 col-md-8">
        <div class="about-container">
          <div class="description">
            <h2>Descripción del Hotel</h2>
            <p>
              Turri Adventures es un hotel que combina la aventura con la comodidad en un entorno natural impresionante.
              Ofrece una amplia gama de servicios para satisfacer las necesidades y deseos de sus huéspedes, incluyendo
              diferentes opciones de pago, alojamiento seguro y confortable, conexión wifi de alta velocidad en todo
              nuestras intalaciones, un gimnacio para los amantes del deporte y hermosas
              piscinas al aire libre. Turri Adventures se esfuerza por ofrecer una experiencia vacacional única que
              combina aventura, comodidad y seguridad.
            </p>
          </div>

          <div class="selected-image" *ngIf="selectedImage">
            <img [src]="selectedImage" alt="Imagen seleccionada">
          </div>

          <div class="gallery">
            <div class="image" *ngFor="let image of images" (click)="showImage(image)">
              <img [src]="image" alt="Imagen de la galería">
            </div>
          </div>
        </div>

        <!-- Aquí puedes agregar más contenido si es necesario -->
      </div>
    </div>
  </div>

  <!-- Scripts al final del cuerpo del documento -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- Agrega aquí tus scripts específicos para este archivo HTML -->
</body>

</html>