<nav #sidebar class="sidebar">
    <div class="row">
      <div class="col">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/homeAdmin">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/homeAdmin">Modificar Páginas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/listadoReservaciones">Listado de reservaciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/administrarHabitaciones">Administrar Habitaciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/verEstadoHotel">Ver estado del hotel hoy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/homeAdmin">Consultar disponibilidad de habitaciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/homeAdmin">Publicidad</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/administrador">Administrador</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  