<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hotel Turri Adventure</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <!-- Agrega aquí tus enlaces a hojas de estilo (CSS) específicos para este archivo HTML -->
</head>

<body>
  
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-4">
        <app-sidebar></app-sidebar>
      </div>

      <!-- Contenido principal -->
      <div class="col-lg-9 col-md-8">
        <h2>Facilidades</h2>

        <!-- Aquí puedes agregar más contenido si es necesario -->
      </div>
    </div>
  </div>

  <!-- Scripts al final del cuerpo del documento -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- Agrega aquí tus scripts específicos para este archivo HTML -->
</body>
</html>
