.container {
    max-width: 800px;
  }
  
  form, ul {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  
  label {
    display: block;
  }
  
  button {
    margin-top: 0px;
    margin-right: 15%;
  }
  
  .btnAgregar {
    background-color: #3c434b;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  