.btnAgregar {
    background-color: #3c434b !important;
    color: white !important;
    border: none !important;
    cursor: pointer !important;
  }
  
  .btn:hover {
    background-color: #575f66 !important;
  }

.btnAgregar {
  background-color: #007bff;
  color: white;
  margin-bottom: 20px;
}

.img-thumbnail {
  max-width: 150px;
  max-height: 150px;
}

.alert {
  margin-top: 20px;
}

#pagination .btn {
  width: 40px;
}
