<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hotel Turri Adventure</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <!-- Agrega aquí tus enlaces a hojas de estilo (CSS) específicos para este archivo HTML -->
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-4">
        <app-sidebar></app-sidebar>
      </div>
      <!-- Contenido principal -->
      <div class="col-lg-9 col-md-8">
        <div id="direction-container">
          <h2>¿Cómo llegar?</h2>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas in aspernatur, aliquid sequi laudantium minima saepe reprehenderit doloremque magnam ipsam architecto harum consequatur molestias tempora eos, quaerat beatae labore ducimus!</p>
          <div id="map-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3930.3923116577625!2d-83.67452612412224!3d9.901246574724473!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0d42417bc6851%3A0xd2ae13fcaa9ce072!2sUniversidad%20de%20Costa%20Rica%20(Sede%20del%20Atl%C3%A1ntico)!5e0!3m2!1ses-419!2scr!4v1712712380947!5m2!1ses-419!2scr"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Scripts al final del cuerpo del documento -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- Agrega aquí tus scripts específicos para este archivo HTML -->
</body>
</html>
