.nav-item {
    border-bottom: 1px solid #ccc; /* Agrega un borde inferior de 1 píxel sólido con color gris claro */
    padding-bottom: 5px; /* Añade un espacio entre cada fila */
}
  
.nav-link {
    padding-top: 5px; /* Añade un espacio en la parte superior de cada enlace */
    padding-bottom: 5px; /* Añade un espacio en la parte inferior de cada enlace */
}