#homeImage {
    width: 80%;
    max-width: 400px; /* Tamaño máximo de la imagen */
    height: auto; /* Para mantener la proporción de aspecto */
    margin-left: 10%;
}

.content {
    width: 80%;
    padding: 20px;
}

.article {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en pantallas pequeñas */
}

.sections {
    width: 100%;
    margin-bottom: 10px; /* Reduzca el margen inferior para que los elementos se junten más */
}

@media (min-width: 768px) {
    .sections {
        width: 50%; /* Para que cada sección ocupe la mitad del ancho en pantallas medianas y grandes */
    }
}
