<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hotel Turri Adventure</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="home.component.css">
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <!-- Header -->
      <div class="col-12">
        <app-header></app-header>
      </div>
      <!-- Sidebar -->
      <div class="col-lg-3 col-md-4">
        <app-sidebar></app-sidebar>
      </div>
      <!-- Contenido principal -->
      <div class="col-lg-9 col-md-8">
        <div class="content">
          <div class="article">
            <div class="sections">
              <img id="homeImage" src="assets/Facilidades/Hotel.jpg" alt="hotel.png">
            </div>
            <div class="sections">
              <div>
                <h1>Bienvenido a Hotel Turri Adventure</h1>
                <p>
                  Lorem ipsum dolor sit amet, maiores ornare ac fermentum, imperdiet ut
                  vivamus a, nam lectus at nunc. Cum quam euismod sem, semper ut
                  potenti pellentesque quisque. In eget sapien sed, sit duis vestibulum
                  ultricies, placerat morbi amet vel, nullam in in lorem vel. In molestie elit dui
                  dictum, praesent nascetur pulvinar sed, in dolor pede in aliquam, risus nec
                  error quis pharetra.
                  Eros metus quam augue suspendisse, metus rutrum risus erat in. In
                  ultrices quo ut lectus, etiam vestibulum urna a est, pretium luctus euismod
                  nisl, pellentesque turpis hac ridiculus massa. Venenatis a taciti dolor
                  platea, curabitur lorem platea urna odio, convallis sit pellentesque lacus
                  proin. Et ipsum velit diam nulla, fringilla vel tincidunt vitae, elit turpis tellus
                  vivamus, dictum adipiscing convallis magna id. Viverra eu amet sit,
                  dignissim tincidunt volutpat nulla tincidunt, feugiat est erat dui tempor,
                  fusce tortor auctor vestibulum.
                  Venenatis praesent risus orci, ante nam volutpat erat. Cursus non mollis
                  interdum maecenas, consequat imperdiet penatibus enim, tristique luctus
                  tellus eos accumsan, ridiculus erat laoreet nunc
                </p>
                <a href="#">Más información</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
