<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hotel Turri Adventure</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="home.component.css">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <div class="col-lg-3 col-md-4">
        <app-sidebar></app-sidebar>
      </div>
      <!-- Contenido principal -->
      <div class="col-lg-9 col-md-8">
        <div class="content">
          <div class="article">
            <div class="sections">
              <img id="homeImage" src="{{imagenHome}}" alt="">

            </div>
            <div class="sections">
              <div>
                <h1>Bienvenido a Hotel Turri Adventure</h1>
                <p>
                  {{ description }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="h1">
  </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>