<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hotel Turri Adventure</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="modificar-home.component.css">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <div class="col-lg-3 col-md-4">
        <app-sidebar-administrador></app-sidebar-administrador>
      </div>
      <!-- Contenido principal -->
      <div class="col-lg-9 col-md-8">
        <div class="content">
          <div class="article">
            <div class="sections">
              <div>
                <h1>Bienvenido a Hotel Turri Adventure</h1>
                <form [formGroup]="homeForm" (ngSubmit)="onSubmit()">
                  <div class="form-group">
                    <label for="descriptionInput">Descripción:</label>
                    <textarea class="form-control" id="descriptionInput" formControlName="description"
                      rows="5"></textarea>
                  </div>

                  <div class="row ">

                    <div class="col-md-6 img-container ">
                      <p>Imagen Actual:</p>
                      <img *ngIf="imagenHome" [src]="imagenHome" alt="Imagen Publicidad" class="img-fluid mt-2">
                    </div>

                    <div class="col-md-6"> 
                      <div class="form-group">
                        <label for="imagen">Subir nueva imagen:</label>
                        <input type="file" id="imagen" class="form-control-file" (change)="onChangeImagen($event)"
                          accept="image/*">
                      </div>
                    </div>


                  </div>

                  <div class="col-md-6 offset-md-6">
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    <a class="btn btn-danger float-right" href="/modificarpaginas">Cancelar</a>
                  </div>

                  <div *ngIf="mensaje" class="alert" [ngClass]="{'alert-success': !esError, 'alert-danger': esError}">
                    {{ mensaje }}
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>